
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Header */
.secbg{
  background-color: #fff8f3;
}
.Header{
  background-image: url('/images/developer.png'), url('/images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav{
  display: flex;
  align-items:  center;
  justify-content: space-between;
  margin: 50px 200px;
}
/* Nav Style */
.nav-tittle{

  font-weight: 800;
  font-size: 45px;


}
.txter{
  color: #fd6e0a
}
nav ul{
  display: flex;
  align-items: center;
}

nav ul li{
  list-style: none;
  margin-right: 50px;


}

nav li a {
  text-decoration: none;
  font-size: 20 px;
}

.dark2{
  color: #474747

}
.btn-secondary{
  background-color: #fd6e0a ;
  font-weight: bold;
  color:white;
  padding:  19px 30px ;
  border-radius: 5px;

}
.section-title{
  font-size: 35px;
  font-weight: bold;
  color:#181818

}
.section-discreption{
  font-size: 18px;
  color:#757575


}
/* Banner Style */
.banner{
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 200px;
}
.banner-con{
  max-width: 580px;
}

.banner-greeding{
  font-size: 45px;
  font-weight: 400px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.profile-picture{
  width: 588px;

}
/* MAin */
main{
  max-width: 1140px;
  margin: 0 auto;

}
/* About syle */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 129px;
}
.about-iteam{
  display: flex;
  justify-content: space-around;
}
.iteam-descrip{
  font-weight: 600;
}